{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="main-body-section">

        <hr>
        <h1 class="page-title-text">Your Cart</h1>
        <hr>

        <div class="row">
            <div class="col">
                {% if cart_items %}
                <div class="main-body-section">
                    <div class="row">
                        {% for item in cart_items %}
                        <!-- cart item - tablet and mobile -->
                            <div class="col-12 col-sm-6 d-lg-none">
                                <div class="cart-item">
                                    <div class="col-12 text-center">
                                        <h4>{{ item.game.name }}</h4>
                                        <a class="cart-game-image" href="{% url 'game_details' item.game.id %}">
                                            <img class="w-100 px-1" src="{{ MEDIA_URL }}images/game-images/{{ item.game.image_url }}"
                                                alt="{{ item.game.name }}">
                                        </a>
                                    </div>
                                    <div class="vendor-cart-section">
                                        <p class="my-2 text-center"><strong>Details:</strong></p>
                                        <div class="row">
                                            <div class="col-6">
                                                <a class="cart-vendor-image" href="#">
                                                    <img class="w-100 px-1" src="{{ MEDIA_URL }}images/sample-vendor-1.png"
                                                        alt="an image of a vendor">
                                                </a>
                                            </div>
                                            <div class="col-6 vendor-cart-details">
                                                <ul>
                                                    <li class="vendor-list-title">Sample Vendor</li>
                                                    <li>Mint Condition</span></li>
                                                    <li>Price : ${{ item.game.price }}</span></li>
                                                </ul>
                                            </div>
                                        </div>                                        
                                    </div>                                    
                                </div>

                                <div class="cart-quantity-and-delete">
                                    <div class="row">
                                        <div class="col-6 quantity-selector input-group mb-3">
                                            <button class="btn selector-button" type="button">
                                                <i class="fas fa-minus"></i>
                                            </button>
                                            <input type="number" class="form-control quantity-selector-input" placeholder="1" aria-label="quantity selector">
                                            <button class="btn selector-button" type="button">
                                                <i class="fas fa-plus"></i>
                                            </button>
                                        </div>
                                        <div class="col-3">
                                            <strong>Total: </strong> $98.37
                                        </div>
                                    </div>
                                    <div class="col remove-from-cart-button text-center">
                                        <button class="btn">X Remove</button>
                                    </div>
                                </div>
                            </div>

                        <!-- cart item - desktop and larger screens -->
                            <div class="d-none d-lg-block">
                                <div class="cart-item">
                                    <div class="col-12 text-center">
                                        <h4>{{ item.game.name }}</h4>
                                    </div>
                                    <div class="row">
                                        <div class="col-4">
                                            <a class="cart-game-image" href="{% url 'game_details' item.game.id %}">
                                                <img class="w-100 px-1" src="{{ MEDIA_URL }}images/game-images/{{ item.game.image_url }}"
                                                    alt="{{ item.game.name }}">
                                            </a>
                                        </div>
                                        <div class="col-4">
                                            <a class="cart-vendor-image" href="#">
                                                <img class="w-100 px-1" src="{{ MEDIA_URL }}images/sample-vendor-1.png"
                                                    alt="an image of a vendor">
                                            </a>
                                        </div>
                                        <div class="col-4 large-vendor-cart-details">
                                            <a href="">
                                                <p class="vendor-list-title">Sample Vendor</p>
                                            </a>                                            
                                            <ul>
                                                <li>{{ item.game.console }}</li>
                                                <li>{{ item.game.genre }}</li>
                                                <hr>
                                                <li>Mint Condition</span></li>
                                                <li>Price: ${{ item.game.price }}</span></li>
                                                <li>Quantity: {{ item.quantity }} </li>
                                                <li></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>                           
                        {% endfor %}
                    </div>

                    <div class="row" id="cartTotalCheckoutButton">
                        <div class="col-12 text-center">
                            <h3>
                                <strong>
                                    Cart Total : ${{ total|floatformat:2 }}
                                </strong>
                            </h3>
                            <button class="btn action-button">
                                Checkout
                                <i class="fas fa-cart-arrow-down"></i>
                            </button>
                        </div>
                    </div>
                </div>
                {% else %}
                <h4 class="text-center">Your cart is empty...</h4>
                <div class="text-center">
                    <a href="{% url 'all_games' %}" class="btn btn-lg action-button">
                        <i class="fas fa-chevron-left"></i>
                        Browse Our Games
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}