{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Hero Image -->

<div class="container-fluid" id="heroImageContainer">
    <img src="/media/images/hero-image/hero1.png" alt="">
</div>
<div class="container-fluid" id="featuresGamesContainer">
    <div class="row">
        <div class="col text-center" id="featuredTitle">
            <h1><i class="fas fa-caret-down"></i> FEATURED GAMES <i class="fas fa-caret-down"></i></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-10 offset-1 col-sm-8 offset-sm-2 col-lg-5 offset-lg-1 col-xl-3 offset-xl-0 card game-card">
            <a class="game-card-link" href="">
                <div class="card-body text-center">
                    {% for game in sm64 %}
                        <h4 class="card-title text-center pb-3">{{ game.name }}</h4>
                        <img class="card-image" src="{{ MEDIA_URL }}super-mario-64.png" alt="{{ game.name }}">
                    {% endfor %}
                </div>
                <div class="card-footer px-2">
                    {% for game in sm64 %}
                        <span class="float-start"><strong>{{ game.console }}</strong></span>
                        <span class="float-end"><strong>Rating: {{ game.rating }}</strong></span>
                    {% endfor %}
                </div>
            </a>
        </div>
        <div class="col-10 offset-1 col-sm-8 offset-sm-2 col-lg-5 offset-lg-0 col-xl-3 offset-xl-0 card game-card">
            <a class="game-card-link" href="">
                <div class="card-body text-center">
                    {% for game in crash %}
                        <h4 class="card-title text-center pb-3">{{ game.name }}</h4>
                        <img class="card-image" src="{{ MEDIA_URL }}images/game-images/{{ game.image_url }}" alt="{{ game.name }}">
                    {% endfor %}
                </div>
                <div class="card-footer px-2">
                    {% for game in crash %}
                        <span class="float-start"><strong>{{ game.console }}</strong></span>
                        <span class="float-end"><strong>Rating: {{ game.rating }}</strong></span>
                    {% endfor %}
                </div>
            </a>
        </div>
        <div class="col-10 offset-1 col-sm-8 offset-sm-2 col-lg-5 offset-lg-1 col-xl-3 offset-xl-0 card game-card">
            <a class="game-card-link" href="">
                <div class="card-body text-center">
                    {% for game in sonic %}
                        <h4 class="card-title text-center pb-3">{{ game.name }}</h4>
                        <img class="card-image" src="/media/images/game-images/{{ game.image_url }}" alt="{{ game.name }}">
                    {% endfor %}
                </div>
                <div class="card-footer px-2">
                    {% for game in sonic %}
                        <span class="float-start"><strong>{{ game.console }}</strong></span>
                        <span class="float-end"><strong>Rating: {{ game.rating }}</strong></span>
                    {% endfor %}
                </div>
            </a>
        </div>
        <div class="col-10 offset-1 col-sm-8 offset-sm-2 col-lg-5 offset-lg-0 col-xl-3 offset-xl-0 card game-card">
            <a class="game-card-link" href="">
                <div class="card-body text-center">
                    {% for game in pac_man %}
                        <h4 class="card-title text-center pb-3">{{ game.name }}</h4>
                        <img class="card-image" src="/media/images/game-images/{{ game.image_url }}" alt="{{ game.name }}">
                    {% endfor %}
                </div>
                <div class="card-footer px-2">
                    {% for game in pac_man %}
                        <span class="float-start"><strong>{{ game.console }}</strong></span>
                        <span class="float-end"><strong>Rating: {{ game.rating }}</strong></span>
                    {% endfor %}
                </div>
            </a>
        </div>
    </div>
</div>
<div class="container-fluid" id="publishersContainer">
    <div class="row">
        <div class="col text-center" id="publishersTitle">
            <h1><i class="fas fa-caret-down"></i> PUBLISHERS <i class="fas fa-caret-down"></i></h1>
        </div>
    </div>
    <div class="row">
        {% for publisher in publishers %}
            <div class="publisher-link-container col-5 col-lg-2">
                <a class="publisher-link" href="{% url 'publisher_games' publisher.name %}">
                    <img class="publisher-image" src="media/images/publisher-images/devs/{{ publisher.image_url }}" alt="{{ publisher.name }}">
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}