.main-body-section {
    background-color: #3a3b3c;
}

.game-card {
    background-color: black;
    border: solid 4px black;
}

@media (min-width: 1400px) {
    .title-image-container {
        height: 390px;
        margin-left: 17% !important;
    }

    .dev-page-title-image {
        height: 100%;
        width: 80%;
    }
}