.main-body-section {
    background-color: #e4000f;
}

@media (min-width: 1400px) {
    .title-image-container {
        height: 390px;
        margin-left: 17% !important;
    }

    .dev-page-title-image {
        height: 100%;
        width: 80%;
    }
}