{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'storefronts/css/storefronts.css' %}">
{% endblock %}
{% block content %}

    <div class="container-fluid">
        <div class="main-body-section">

            <hr>
            <h1 class="page-title-text">Edit Your Storefront</h1>
            <hr>
            
            <div class="row">
                <div class="col-12 col-md-6">
                    <form action="{% url 'edit_storefront' storefront.id %}" method="post" 
                        class="form mb-2" enctype="multipart/form-data">
                        {% csrf_token %}
                        <fieldset class="rounded px-3 mb-4">
                            <legend class="fieldset-label small px-2 w-auto">Store Name</legend>
                                {{ form.name | as_crispy_field }}
                        </fieldset>
                        <fieldset class="rounded px-3 mb-4">
                            <legend class="fieldset-label small px-2 w-auto">Contact Details</legend>
                                {{ form.email | as_crispy_field }}
                                {{ form.contact_number1 | as_crispy_field }}
                                {{ form.contact_number2 | as_crispy_field }}
                        </fieldset>
                        <fieldset class="rounded px-3 mb-3">
                            <legend class="fieldset-label small px-2 w-auto">Location</legend>
                                {{ form.street_address1 | as_crispy_field }}
                                {{ form.street_address2 | as_crispy_field }}
                                {{ form.town_or_city | as_crispy_field }}
                                {{ form.county | as_crispy_field }}
                                {{ form.postcode | as_crispy_field }}
                                {{ form.country | as_crispy_field }}
                        </fieldset>
                        <fieldset class="rounded px-3 mb-4">
                            <legend class="fieldset-label small px-2 w-auto">Storefront Image</legend>
                                {{ form.image | as_crispy_field }}
                                <input type="hidden" name="image_url">
                        </fieldset>
                        <fieldset class="rounded px-3 mb-4">
                            <legend class="fieldset-label small px-2 w-auto">Tell our users about your storefont!</legend>
                                {{ form.description | as_crispy_field }}
                        </fieldset>
                        <a href="{% url 'home' %}" class="btn action-button-inverted">
                            <i class="fas fa-chevron-left"></i>
                            Cancel & Return Home
                        </a>
                        <button type="submit" class="btn action-button">
                            Update Details
                            <i class="fas fa-check"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <!-- The below script grabs the name of the image file so it 
        can be passed into the back-end upon form submission -->
    
    <script src="{% static 'storefronts/js/image-field.js' %}"></script>
{% endblock %}
