{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'storefronts/css/storefronts.css' %}">
{% endblock %}
{% block content %}

    <div class="container-fluid">
        <div class="main-body-section">

            <hr>
                <h1 class="page-title-text">{{ storefront.name }} </h1>
            <hr>
            
            <div class="row">
                <div class="col-12 col-sm-6 mt-3 text-center storefront-image">
                    <img src="{{ MEDIA_URL }}images/storefront-images/{{ storefront.image_url }}" alt="{{ storefront.name }}">
                </div>
                <div class="col-12 col-sm-4 mt-3 border-black storefront-details">
                    <p>
                        <strong>Owner:</strong>
                        <span class="float-end">{{ storefront.user }}</span>
                    </p>
                    <p>
                        <strong>Email:</strong>
                        <span class="float-end">{{ storefront.email }}</span>
                    </p>
                    <p>
                        <strong>Phone Number(s):</strong>
                        <span class="float-end">{{ storefront.contact_number1 }}</span>
                        <br>
                        {% if contact_number2 %}
                            <span class="float-end">{{ storefront.contact_number2 }}</span>
                        {% endif %}
                    </p>
                    <p>
                        <strong>Address:</strong>
                        <span class="float-end">{{ storefront.street_address1 }}</span>
                        <br>
                        {% if storefront.street_address2 %}
                            <span class="float-end">{{ storefront.street_address2 }}</span>
                            <br>
                        {% endif %}
                        <span class="float-end">{{ storefront.town_or_city }}</span>
                        <br>
                        {% if storefront.county %}
                            <span class="float-end">{{ storefront.county }}</span>
                            <br>
                        {% endif %}
                        <span class="float-end">{{ storefront.country }}</span>
                        <br>
                        {% if storefront.postcode %}
                            <span class="float-end">{{ storefront.postcode }}</span>
                        {% endif %}
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-sm-8 offset-sm-2 mt-5 storefront-description">
                    <h4 class="text-center">
                        About {{ storefront.name }}
                    </h4>
                    {% if storefront.description %}
                        <p>
                            {{ storefront.description }}
                        </p>                        
                    {% else %}
                        <p>
                            It seems like this user hasn't add a description for their storefront yet.
                            For more information about their products, stock or any other queries, please
                            contact them using the information provided above. 
                        </p>
                    {% endif %}
                </div>
            </div>

            <div class="row">
                <div class="col-11 col-sm-10 offset-sm-1 mt-5 mb-5 storefront-listings">
                    <div class="listings-container">
                        <h3 class="text-center">Games for Sale</h3>
                        <div class="row">
                            {% for listing in listings %}                                
                                <div class="col-12 col-sm-5 col-lg-3 card mx-2 listing-card">
                                    <a href="{% url 'listing' listing.id %}">
                                        <img src="{{ MEDIA_URL }}images/listing-images/{{ listing.image_url }}"
                                        class="card-img-top" alt="{{ listing.game.name }}">
                                    </a>
                                    <div class="card-body listing-card-body">
                                        <p class="card-text">{{ listing.description }}</p>
                                        <hr>
                                        <h5 class="text-center">Game Details</h5>
                                        <div class=" row">
                                            <div class="col card-details">
                                                <ul class="listing-card-details-list">
                                                    <li><strong>{{ listing.title }}</strong></li>
                                                    <li><strong>Condition: </strong>{{ listing.condition }}</li>
                                                    <li><strong>Price: </strong>{{ listing.price }}</li>
                                                    <li><strong>Copies Available: </strong>{{ listing.copies_available }}</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <a href="{% url 'listing' listing.id %}" class="btn action-button">
                                                View Item 
                                                <i class="fas fa-chevron-circle-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>                                                            
                            {% empty %}
                                <h4 class="text-center">Sorry, this storefront doesn't seem to have any games for sale right now.</h4>
                            {% endfor %}
                        </div>
                    </div>
                    {% if storefront.user.id == user.id %}
                        <div class="text-center">
                            <a href="{% url 'add_listing' %}" class="btn action-button">
                                Add a Listing <i class="far fa-plus-square"></i>
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
            {% if storefront.user.id == user.id %}
                <div class="row delete-edit-storefront">
                    <div class="col text-center">
                        <a href="{% url 'edit_storefront' storefront.id %}" class="btn action-button-inverted">
                            Edit Your Storefront <i class="fas fa-edit"></i>
                        </a>

                        <!-- Button trigger modal -->
                        <button type="button" class="btn action-button" data-bs-toggle="modal" 
                            data-bs-target="#deleteModal">
                            <i class="fas fa-exclamation-triangle danger-triangle"></i>
                             Delete This Storefront 
                            <i class="fas fa-exclamation-triangle danger-triangle"></i>
                        </button>
                        
                        <!-- Modal -->
                        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                            <div class="modal-dialog text-start">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleteModalLabel">Delete Your Storefront</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        WARNING!! Deleting your Storefront will delete all the listings you have posted under it's name.
                                        <hr>
                                        This action CANNOT be undone.
                                        <hr>
                                        Please type the characters: 'delete' into the input below and click the red button to continue.
                                        <hr>
                                        <div class="text-center">
                                            <input type="text" name="deleteCheck" id="deleteCheck">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <a href="{% url 'delete_storefront' storefront.id %}" id="deleteStoreFrontButton" class="btn btn-danger">DELETE</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <a href="{% url 'home' %}" class="btn action-button">
                    <i class="fas fa-chevron-left"></i> Return to Home
                </a>
            {% endif %}
            
        </div>
    </div>


{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <!-- The below script handles the delete confirmation button being disabled
    until the delete check has been completed. -->
    
        <script src="{% static 'storefronts/js/storefront.js' %}"></script>
{% endblock %}
