{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'storefronts/css/storefronts.css' %}">
{% endblock %}
{% block content %}

    <div class="container-fluid">
        <div class="main-body-section">

            <hr>
            <h1 class="page-title-text">{{ storefront.name }}</h1>
            <hr>
            
            <div class="row">
                <div class="col-12 col-sm-8 text-center storefront-image">
                    <img src="{{ MEDIA_URL }}images/storefront-images/{{ storefront.image_url }}" alt="{{ storefront.name }}">
                </div>
            </div>
        </div>
    </div>


{% endblock %}