#div_id_default_country label {
    display: none;
  }

#profileUpdateForm .form-control {
    color: #000
}

#profileUpdateForm input::placeholder {
    color: #aab7c4;
}

#div_id_default_country,
#div_id_default_country option:not(:first-child) {
    color: #000;
}

#div_id_default_country option:first-child {
    color: #aab7c4;
}

.order-history {
    max-height: 421px;
    overflow-y: auto;
}

.user-storefront-card {
    background-color: #1F211F;
    color: white;
    margin-top: 6px;
    margin-bottom: 6px;
    border: solid 4px #1F211F;
    border-radius: 12px;
}
