{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'listings/css/listings.css' %}">
{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="main-body-section">

            <hr>
            <h1 class="page-title-text">Listings for {{ game.name }}</h1>
            <hr>
            <div class="row">
                {% for listing in listings %}
                    <div class="col-12 col-sm-5 col-lg-3 card listing-card">
                        <a href="{% url 'listing' listing.id %}">
                            {% if listing.image %}
                                <img class="w-100 px-1" src="{{ MEDIA_URL }}images/listing-images/{{ listing.image_url }}"
                                    alt="{{ listing.title }}">
                            {% else %}
                                <img class="w-100 px-1" src="{{ MEDIA_URL }}images/no-image.png"
                                    alt="{{ listing.title }}">
                            {% endif %}
                        </a>
                        <div class="card-body listing-card-body">
                            <p class="card-text">{{ listing.description }}</p>
                            <hr>
                            <h5 class="text-center">Game Details</h5>
                            <div class=" row">
                                <div class="col card-details">
                                    <ul class="listing-card-details-list">
                                        <li><strong>{{ listing.title }}</strong></li>
                                        <li><strong>Condition: </strong>{{ listing.condition }}</li>
                                        <li><strong>Price: </strong>{{ listing.price }}</li>
                                        <li><strong>Copies Available: </strong>{{ listing.copies_available }}</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="text-center">
                                <a href="{% url 'listing' listing.id %}" class="btn action-button">
                                    View Item 
                                    <i class="fas fa-chevron-circle-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <h4>Sorry, no one seems to be selling this game right now!!</h4>
                {% endfor %}
                <div class="text-center mb-4">
                    <a href="{% url 'game_details' game.id %}" class="btn action-button">
                        <i class="fas fa-chevron-circle-left"></i> 
                        Return to the game page
                    </a>
                </div>
            </div>
        </div>
    </div>


{% endblock %}