{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'listings/css/listings.css' %}">
{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="main-body-section">

            <hr>
            <h1 class="page-title-text">{{ listing.title }}</h1>
            <hr>

            <div class="row">
                <div class="card col-10 offset-1 offset-md-0 col-md-5 col-xl-4">
                    <img src="{{ MEDIA_URL }}images/listing-images/{{ listing.image_url }}" class="card-img-top" alt="{{ listing.game.name }}">
                    <div class="card-body">
                        <p class="card-text">{{ listing.description }}</p>
                        <hr>
                        <h5 class="text-center">Game Details</h5>
                        <div class=" row">
                            <div class="col-6 card-details">
                                <img src="{{ MEDIA_URL }}images/game-images/{{ listing.game.image_url }}" class="card-img-top" alt="{{ listing.game.name }}">
                            </div>
                            <div class="col-6 card-details">
                                <ul class="game-card-details-list">
                                    <li><strong>{{ listing.game.name }}</strong></li>
                                    <li>{{ listing.game.console }}</li>
                                    <li>{{ listing.game.genre }}</li>
                                    <li>{{ listing.game.release_year }}</li>
                                    {% if listing.game.multiplayer %}
                                        <li>Multiplayer: Yes</li>
                                    {% else %}
                                        <li>Multiplayer: No</li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            


        </div>
    </div>


{% endblock %}