/* ----------------- General Css -----------------  */

/* Colours */

.white-text {
    color: white;
}

/* ----------------- Navbar ----------------- */

.navbar-nav {
    flex-direction: row;
    justify-content: space-evenly;
}

#mainNavLower {
    border-top: 1px solid black;
}

#mainNavSearchButton {
    border: 2px solid black;
    height: 46px;
    margin-top: 25px;
}

#mobileNav {
    border-bottom: 1.5px black solid;
}

.mobile-nav-icon {
    font-size: 25px;
}

.mobile-bag-link {
    text-decoration: none;
    color: #212529;
}

#mainNavAllGamesLink:hover {
    text-decoration: underline;
}

/* Navbar - Media Queries */

@media (max-width: 1199px) {
    #mainNavLogo .display-3 {
        padding-top: 1.3rem;
        font-size: 2.5rem !important;
    }
}

@media (min-width: 1200px) and (max-width: 1440px) {
    #mainNavLogo .display-3 {
        padding-top: 1.2rem;
        font-size: 3rem !important;
    }
}


/* ----------------- Home Page ----------------- */

#heroImageContainer {
    padding: 0 !important;
}

#heroImageContainer img {
    height: calc(100vh - 370px);
    width: 100%;
    
}

.hero-logo {
    font-weight: 700;
}

#publishersTitle {
    margin-top: 4%;
}

.publisher-link-container {
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 2%;
    margin-top: 1%;
    border: solid 4px #1F211F;
    border-radius: 12px;
}

.publisher-image {
    width: 100%;
}


/* ----------------- Game Card ----------------- */

.game-card {
    background-color: #1F211F;
    color: white;
    margin-top: 6px;
    margin-bottom: 6px;
    border: solid 4px #1F211F;
    border-radius: 12px;
}

.game-card:hover {
    background-color: white;
}

.game-card-link {
    text-decoration: none;
    color: inherit;
}

.game-card-link:hover {
    color: #1F211F;
}

.card-image {
    width: 100%;
    height: 250px;
}

.card-footer {
    border-top: 1px solid green;
}

/* Game Card - Media Queries */

@media (min-width: 460px) and (max-width: 576px) {
    .card-image {  
        height: 360px;
        width: 95%;

    }
}


@media (max-width: 575px) {
    .card-image {
        height: 290px;
        width: 95%;
    }
}

@media (min-width: 576px) and (max-width: 745px) {
    .card-image {  
        height: 350px;
        width: 80%;

    }
}

@media (min-width: 746px) and (max-width: 991px) {
    .card-image {  
        height: 378px;
        width: 80%;

    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .game-card {  
        margin-left: 4%;
        margin-right: 4%;
    }

    .card-image {
        height: 350px;
    }
}

@media (min-width: 1200px) {
    .game-card {
        margin-left: 1%;
        margin-right: 1%;
        width: 23% !important;
    }
}

@media (min-width: 1400px) {
    .card-image {
        height: 320px;
    }
}

@media (min-width: 1600px) {
    .card-image {
        height: 360px;
    }
}

/* ----------------- All Games ----------------- */

.filter-container {
    border: solid 4px #1F211F;
    border-radius: 12px;
}

.selector-container {
    margin: 15px 4%;
}

.selector-container select {
    width: 100%;
    border-radius: 5px;
}

#filterButton {
    background-color: blue;
    color: white;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 4px rgb(0 0 0 / 51%);
}