/* ----------------- General Css -----------------  */

.main-body-section {
    padding-left: 2%;
    padding-right: 2%;
}

.page-title-text {
    text-align: center !important;
    margin-top: 1%;
}

.action-button,
.action-button-inverted:hover {
    background-color: #d4af37;
    color: black;
    text-shadow: 0px 0px 2px black;
    border: 2px solid black;
    border-radius: 8px;
}

.action-button-inverted,
.action-button:hover {
    background-color: black;
    color: #d4af37;
    text-shadow: 0px 0px 2px #d4af37;
    border: 2px solid #d4af37;
    border-radius: 8px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Colours */

.white-text {
    color: white;
}

/* General - Media Queries */

@media (min-width: 1400px) {
    .main-body-section {
        padding-left: 4%;
        padding-right: 4%;
    }
}



/* ----------------- Navbar ----------------- */

.navbar-nav {
    flex-direction: row;
    justify-content: space-evenly;
}

#mainNavLower {
    border-top: 1px solid black;
}

#mainNavSearchButton {
    border: 2px solid black;
    border-radius: 4px;
    height: 46px;
    margin-top: 25px;
}

#mainNavAllGamesLink:hover {
    text-decoration: underline;
}

#mobileNav {
    border-bottom: 1.5px black solid;
    display: flex;
    justify-content: space-around;
}

.mobile-nav-icon {
    font-size: 25px;
}

.mobile-cart-link,
.main-nav-cart-link {
    text-decoration: none;
    color: #212529;
}

.mobile-cart-link {
    text-align: center;
}

.mobile-cart-link div {
    margin-top: 14px;
}

.main-nav-cart-link:hover {
    color: #bf8025;
}

.mobile-search {
    width: 100%;
    z-index: 200;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

/* Navbar - Media Queries */

@media (max-width: 1199px) {
    #mainNavLogo .display-3 {
        padding-top: 1.3rem;
        font-size: 2.5rem !important;
    }
}

@media (min-width: 1200px) and (max-width: 1440px) {
    #mainNavLogo .display-3 {
        padding-top: 1.2rem;
        font-size: 3rem !important;
    }
}


/* ----------------- Messages/Toasts ----------------- */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 5px;
}

.cart-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Messages/Toasts - Media Queries */

@media (max-width: 701px) {
    .toast {
        width: 250px !important;
    }
}

/* ----------------- Home Page ----------------- */

#heroImageContainer {
    padding: 0 !important;
}

#heroImageContainer img {
    height: calc(100vh - 370px);
    width: 100%;
    
}

.hero-logo {
    font-weight: 700;
}

.publisher-link-container {
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 2%;
    margin-top: 1%;
    border: solid 4px #1F211F;
    border-radius: 12px;
}

.publisher-image {
    width: 100%;
}


/* ----------------- Game Card ----------------- */

.game-card,
.storefront-card {
    background-color: #1F211F;
    color: white;
    margin-top: 6px;
    margin-bottom: 6px;
    border: solid 4px #1F211F;
    border-radius: 12px;
}

.game-card-link,
.storefront-card-link  {
    color: white !important;
    text-decoration: none;
}

.game-card:hover,
.game-card-link:hover,
.storefront-card:hover,
.storefront-card-link:hover {
    background-color: white;
    color: #1F211F !important;
    text-decoration: none;
}

.card-image {
    width: 100%;
    height: 250px;
}

.card-footer {
    border-top: 1px solid green;
}

.card-title {
    height: 40px;
}

.card-body {
    padding: .5rem .5rem;
}

/* Game Card - Media Queries */

@media (min-width: 460px) and (max-width: 576px) {
    .card-image {  
        height: 360px;
        width: 95%;

    }
}


@media (max-width: 575px) {
    .card-image {
        height: 200px;
        width: 95%;
    }
}

@media (min-width: 576px) and (max-width: 745px) {
    .card-image {  
        height: 350px;
        width: 80%;

    }
}

@media (min-width: 746px) and (max-width: 991px) {
    .card-image {  
        height: 378px;
        width: 80%;

    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .game-card,
    .storefront-card  {  
        margin-left: 4%;
        margin-right: 4%;
    }

    .card-image {
        height: 350px;
    }
}

@media (min-width: 1200px) {
    .game-card,
    .storefront-card  {
        margin-left: 1%;
        margin-right: 1%;
        width: 23% !important;
    }
}

@media (min-width: 1400px) {
    .card-image {
        height: 260px;
    }
}

@media (min-width: 1600px) {
    .card-image {
        height: 360px;
    }
}

/* ----------------- All Games ----------------- */

.filter-container {
    border: solid 4px #1F211F;
    border-radius: 12px;
}

.selector-container {
    margin: 15px 4%;
}

.selector-container select {
    width: 100%;
    border-radius: 5px;
}

#filterButton {
    background-color: blue;
    color: white;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 4px rgb(0 0 0 / 51%);
}


/* ----------------- Publisher Pages ----------------- */

.dev-page-title-image {
    width: 100%;
}


/* ----------------- Game Page ----------------- */

.game-image-container img {
    width: 100%;
    padding: 10%;
    background-color: #1F211F;
    margin-top: 6%;
}

#mobileDetailsDropdown {
    text-align: center;
}

#mobileDetailsDropdownButton {    
    width: 100%;
    margin-top: 2%;
    font-size: 1.2rem;
    font-weight: 500;
}

#mobileDetailsDropdownButton,
#mobileDetailsDropdown ul,
#mobileDetailsDropdown ul li {
    color: white;
    background-color: #1F211F;
}

#mobileDetailsDropdown ul {
    width: 95%;
    overflow: scroll;
}

.game-category-title {
    text-align: center;
    margin-top: 25px;
}

#largerScreensDetailsList {
    list-style: none;
    line-height: 3;
    margin-left: 8%;
}

#userPlaceholderImage {
    width: 100%;
    padding: 0;
}

#commentBox {
    width: 100%;
}

.storefront-overview a img {
    max-height: 290px;
    max-width: 450px;
}

.listing-card {
    background-color: #1F211F;
    color: white;
    padding: 3%;
}

#listingsContainer div img {
    height: 200px;
}

.listing-card-details-list {
    list-style: none;
}

.listing-card-body {
    padding: .5rem;
}

.add-to-cart-form {
    margin-left: 7%;
    padding: 2%;
    border: 2px solid #d4af37;
}

.add-to-cart-form form select {
    width: 33%;
    margin-left: 33%;
    margin-right: 33%;
    border: black 1px solid
}

.add-to-cart-form form select:focus {
    border-color: black;
    outline: 1px;
    box-shadow: 0 0 0 0.25rem #d4af37;
}

.add-to-cart-form form select option {
    background-color: #d4af37;
    color: black;
} 

/* Game Page - Media Queries */
@media (max-width: 992px) {
    #gameDescription {
        text-align: center;
    }
}

@media (max-width: 768px) {
    .listing-card {
        padding: 5%;
    }
}


/* ----------------- Cart ----------------- */

.cart-item {
    background-color: white;
    color: #1F211F;
    border: solid 4px #1F211F;
    border-radius: 12px;
    margin-bottom: 5px;
    padding-bottom: 10px;
}

.listing-cart-details {
    font-size: .9rem;
}

.listing-cart-details ul {
    padding-left: 0;
    list-style: none;
    font-weight: 700;
}

.large-listing-cart-details {
    font-size: 1.3em;
    font-weight: 700;
}

.large-listing-cart-details ul {
    padding-top: 10%;
}

.listing-list-title { 
    text-decoration: underline;
}

.selector-button {
    background-color: #1F211F;
    color: white;
}

.update-remove-buttons button,
.update-remove-buttons a {
    border: 2px solid black;
    border-radius: 12px;    
    font-weight: 500;
    margin-bottom: 10px;
}

.remove-from-cart-button {   
    background-color: red;
    color: white;
}

.update-cart-button {
    background-color: blue;
    color: white;
}

.quantity-selector {
    width: 65% !important;
    margin-left: 1em;
}

.large-quantity-selector {
    width: 25% !important;
}

.quantity-selector button:hover,
.large-quantity-selector button:hover {
    background-color: white;
    color: #1F211F;
}

.quantity-selector button:focus,
.large-quantity-selector button:focus {
    box-shadow: 0 0 0 0.25rem rgba(230, 160, 11, 0.5);
}

/* Cart - Media Queries */
@media (min-width: 576px) {
    .cart-listing-image img {
        height: 230px;
    }  
}

@media (min-width: 993px) {
    .cart-listing-image img,
    .cart-storefront-image img  {
        height: 230px;
    }
}

@media (min-width: 1450px) {
    .cart-listing-image img,
    .cart-storefront-image img {
        height: 350px;
        max-height: 350px;
    }
}


/* ----------------- Allauth Template Customization ----------------- */

.allauth-form-inner-content p {
    margin-top: 1.5rem;
    color: #6c757d;
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}