select,
select option {
  color: #000000;
}

select:invalid,
input::placeholder,
textarea::placeholder,
select option[value=""],
select option[value="default"],
select option[value="game-placeholder"] {
  color: #aab7c4 !important;
}

.card {
  border: 2px solid black;
  padding-top: 1rem;
  margin-bottom: 1rem;
}

.card-details {
  height: 230px;
  overflow-y: auto;
}

.card-img-top {
  max-height: 100%;
}

.game-card-details-list {
  list-style: none;
  padding-left: 0;
}

.add-to-cart-form {
  margin-left: 0;
}

.danger-triangle {
  color: red;
}

.listing-game-image {
  max-height: 100%;
}



@media (min-width: 577px) {
  .listing-card {
    margin-left: 5% !important;
  }

  .listing-card a img {
    height: 150px;
  }

  .listing-card-body p {
    height: 100px;
    overflow-y: auto;
  }
}

@media (min-width: 993px) {
  .listing-card {
    margin-left: 4% !important;
  }
}

@media (min-width: 1450px) {
  .listing-card a img {
    height: 190px;
  }
}
