<script type="text/javascript">
    // Increments quantity
    $('.increment-qty').click(function(e) {
        e.preventDefault();
        var closestInput = $(this).closest('.input-group').find('.qty-input')[0]
        var currentValue = parseInt($(closestInput).val());
        $(closestInput).val(currentValue + 1);
    });

    // Decrements quantity
    $('.decrement-qty').click(function(e) {
        e.preventDefault();
        var closestInput = $(this).closest('.input-group').find('.qty-input')[0]
        var currentValue = parseInt($(closestInput).val());
        $(closestInput).val(currentValue - 1);
    })
</script>