<script type="text/javascript">
    // Increments quantity
    $('.increment-qty').click(function(e) {
        e.preventDefault();
        var closestInput = $(this).closest('.input-group').find('.qty-input')[0]
        var currentValue = parseInt($(closestInput).val());
        $(closestInput).val(currentValue + 1);
        // enables the decrement-qty button for this item in case it has been disabled
        var thisDecrement = $(this).closest('.input-group').find('.decrement-qty')[0]
        $(thisDecrement).prop("disabled", false)
    });

    // Decrements quantity
    $('.decrement-qty').click(function(e) {
        e.preventDefault();
        var closestInput = $(this).closest('.input-group').find('.qty-input')[0]
        var currentValue = parseInt($(closestInput).val());
        $(closestInput).val(currentValue - 1)
        // disables the decrement-qty button to prevent a negative quantity
        if (currentValue < 2) {
            $(this).prop("disabled", true);
        }
    })

    $('.qty-input').change(function() {
        var thisDecrement = $(this).closest('.input-group').find('.decrement-qty')[0]
        $(thisDecrement).prop("disabled", false)
    })
</script>