<div class="container-fluid d-none d-lg-block">
    <div class="row" id="mainNavUpper">
        <div class="col-4">
            <a class="logo-font text-center" href="{% url 'home' %}" id="mainNavLogo">
                <h1 class="display-3">Cartridge Market</h1>
            </a>
        </div>
        <div class="col-5" id="mainNavSearch">
            <form action="{% url 'all_games' %}" method="GET">
                <div class="input-group">
                    <input class="form-control form-control-lg my-4" type="text" placeholder="Search games..."
                        aria-label="search games" name="q">
                    <button class="btn" id="mainNavSearchButton" type="submit">
                        <i class="fas fa-search fa-2x"></i>
                    </button>
                </div>
            </form>
        </div>
        <div class="col-3 text-end my-4" id="mainNavIcons">
            <i class="fas fa-user fa-3x"></i>
            <i class="fas fa-shopping-cart fa-3x"></i>
        </div>
    </div>
    <div class="navbar-collapse pt-3" id="mainNavLower">
        <div class="col-8 offset-md-2">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="{% url 'all_games' %}" class="btn" id="mainNavAllGamesLink">
                        All Games
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="btn dropdown-toggle" data-bs-toggle="dropdown" id="mainNintendoDropdown">
                        Nintendo
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="mainNintendoDropdown">                        
                        <li><a href="{% url 'nintendo_games' %}" class="dropdown-item">All Games</a></li>
                        <li><a href="" class="dropdown-item">NES</a></li>
                        <li><a href="" class="dropdown-item">SNES</a></li>
                        <li><a href="" class="dropdown-item">N64</a></li>
                        <li><a href="" class="dropdown-item">Consoles</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="btn dropdown-toggle" data-bs-toggle="dropdown" id="mainSegaDropdown">
                        SEGA
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="mainSegaDropdown">                        
                        <li><a href="{% url 'sega_games' %}" class="dropdown-item">All Games</a></li>
                        <li><a href="" class="dropdown-item">Genesis</a></li>
                        <li><a href="" class="dropdown-item">Dreamcast</a></li>
                        <li><a href="" class="dropdown-item">Consoles</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="btn dropdown-toggle" data-bs-toggle="dropdown" id="mainSonyDropdown">
                        Sony
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="mainSonyDropdown">                        
                        <li><a href="{% url 'sony_games' %}" class="dropdown-item">All Games</a></li>
                        <li><a href="" class="dropdown-item">PS1</a></li>
                        <li><a href="" class="dropdown-item">Consoles</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="btn dropdown-toggle" data-bs-toggle="dropdown" id="mainAtariDropdown">
                        Atari
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="mainAtariDropdown">                        
                        <li><a href="{% url 'atari_games' %}" class="dropdown-item">All Games</a></li>
                        <li><a href="" class="dropdown-item">2600</a></li>
                        <li><a href="" class="dropdown-item">5200</a></li>
                        <li><a href="" class="dropdown-item">Consoles</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="btn dropdown-toggle" data-bs-toggle="dropdown" id="mainConsoleDropdown">
                        Consoles
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="mainConsoleDropdown">
                        <li><a href="" class="dropdown-item">Nintendo</a></li>
                        <li><a href="" class="dropdown-item">Sega</a></li>
                        <li><a href="" class="dropdown-item">Sony</a></li>
                        <li><a href="" class="dropdown-item">Atari</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>