<div class="container-fluid d-lg-none">
    <ul class="list-inline" id="mobileNav">
        <li class="list-inline-item dropdown">
            <button class="btn mt-2 ps-2" type="button" id="mobileDropdownMenuButton" data-bs-toggle="dropdown"
                aria-expanded="false">
                <i class="fas fa-bars mobile-nav-icon"></i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="mobileDropdownMenuButton">
                <li><a class="dropdown-item" href="{% url 'all_games' %}" id="mobileNavNintendo">All Games</a></li>
                <li><a class="dropdown-item" href="{% url 'publisher_games' 'Nintendo' %}" id="mobileNavNintendo">Nintendo</a></li>
                <li><a class="dropdown-item" href="{% url 'publisher_games' 'Sega' %}" id="mobileNavSega">Sega</a></li>
                <li><a class="dropdown-item" href="{% url 'publisher_games' 'Sony' %}" id="mobileNavSony">Sony</a></li>
                <li><a class="dropdown-item" href="{% url 'publisher_games' 'Atari' %}" id="mobileNavAtari">Atari</a></li>
                <li><a class="dropdown-item" href="#" id="mobileNavConsole">Consoles</a></li>
            </ul>
        </li>
        <li class="dropdown list-inline-item">
            <a class="btn mt-2 ps-2" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
                aria-expanded="false">
                <i class="fas fa-search mobile-nav-icon"></i>
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <form class="mobile-search" action="{% url 'all_games' %}" method="GET">
                    <li class="input-group">
                        <input class="form-control dropdown-item border border-dark rounded-0" type="text"
                            placeholder="Search games..." name="q" aria-label="search games">
                        <button class="btn" id="mobileNavSearchButton" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </li>
                </form>
            </ul>                
        </li>
        <li class="list-inline-item dropdown">
            <button class="btn mt-2 ps-2" type="button" id="mobileUserDropdown" data-bs-toggle="dropdown"
                aria-expanded="false">
                <i class="fas fa-user mobile-nav-icon"></i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="mobileUserDropdown">
                <li><a href="" class="dropdown-item">Register</a></li>
                <li><a href="" class="dropdown-item">Login</a></li>
            </ul>
        </li>
        <li class="list-inline-item">
            <a href="{% url 'view_cart' %}" class="mobile-cart-link">
                <div>
                    <i class="fas fa-shopping-cart mobile-nav-icon"></i>
                </div>                
            </a>            
        </li>
    </ul>
</div>