select,
select option {
  color: #000000;
}

select:invalid,
input::placeholder,
textarea::placeholder,
select option[value=""] {
  color: #aab7c4 !important;
}

#div_id_country label {
  display: none;
}
 
#div_id_description textarea {
  height: 120px;
}

.storefront-image img {
  max-width: 90%;
}

.danger-triangle {
  color: red;
}