{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <h1 class="page-title-text">{{ game.name }}</h1>
        <div class="main-body-section">
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-4 game-image-container">
                    <img src="{{ MEDIA_URL }}images/game-images/{{ game.image_url }}" alt="{{ game.name }}">
                </div>
                <div class="col-12 d-sm-none dropdown" id="mobileDetailsDropdown">
                    <button class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" type="button"
                        id="mobileDetailsDropdownButton">
                        Game Details
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="mobileDetailsDropdownButton">
                        <li class="dropdown-item">
                            Released in :
                            {% if game.release_year %}
                                {{ game.release_year }}
                            {% else %}
                                Unknown
                            {% endif %}
                        </li>
                        <li class="dropdown-item">
                            Genre :
                            {% if game.genre %}
                            {{ game.genre }}
                            {% else %}
                            N/A
                            {% endif %}
                        </li>
                        <li class="dropdown-item">
                            Developed by :
                            {% if game.developer %}
                                {{ game.developer }}
                            {% else %}
                                N/A
                            {% endif %}
                        </li>
                        <li class="dropdown-item">
                            Multiplayer :
                            {% if game.multiplayer %}
                                Yes
                            {% else %}
                                No
                            {% endif %}
                        </li>
                        <li class="dropdown-item">
                            Average Price :
                            {% if game.price %}
                                {{ game.price }}
                            {% else %}
                                Unknown
                            {% endif %}
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6 col-lg-4 d-none d-sm-block" id="largerScreensDetailsContainer">
                    <h3 class="game-category-title">Game Details</h3>
                    <ul id="largerScreensDetailsList">
                        <li>
                            <strong>Released in :</strong>
                            {% if game.release_year %}
                                {{ game.release_year }}
                            {% else %}
                                Unknown
                            {% endif %}
                        </li>
                        <li>
                            <strong>Genre : </strong>
                            {% if game.genre %}
                                {{ game.genre }}
                            {% else %}
                                N/A
                            {% endif %}
                        </li>
                        <li>
                            <strong>Developed by : </strong>
                            {% if game.developer %}
                                {{ game.developer }}
                            {% else %}
                                N/A
                            {% endif %}
                        </li>
                        <li>
                            <strong>Multiplayer : </strong>
                            {% if game.multiplayer %}
                                Yes
                            {% else %}
                                No
                            {% endif %}
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-lg-4" id="gameDescriptionContainer">
                    <h3 class="game-category-title">Description</h3>
                    <p id="gameDescription">
                        {% if game.description %}
                            {{ game.description }}
                        {% else %}
                            We're sorry, there doesn't seem to be any description for {{ game.name }}
                            available at this time. If you have played this game, and feel like you
                            can offer an apt description, please
                            <a href="#">
                                get in touch with us here.
                            </a>
                        {% endif %}
                    </p>
                </div>
            </div>
            <div class="row mt-3"> 
                <div class="col-12 col-lg-6 offset-lg-3" id="listingsContainer">
                    <h3 class="text-center">Copies Available</h3>
                    <div class="row">
                        {% for listing in listings %}
                            {% if forloop.counter < 3 %}
                                <div class="col-12 col-sm-5 offset-sm-1 card listing-card">
                                    <a href="{% url 'listing' listing.id %}">
                                        <img src="{{ MEDIA_URL }}images/listing-images/{{ listing.image_url }}"
                                        class="card-img-top" alt="{{ listing.game.name }}">
                                    </a>                                    
                                    <div class="card-body listing-card-body">
                                        <p class="card-text">{{ listing.description }}</p>
                                        <hr>
                                        <h5 class="text-center">Game Details</h5>
                                        <div class=" row">
                                            <div class="col card-details">
                                                <ul class="listing-card-details-list">
                                                    <li><strong>{{ listing.title }}</strong></li>
                                                    <li><strong>Condition: </strong>{{ listing.condition }}</li>
                                                    <li><strong>Price: </strong>{{ listing.price }}</li>
                                                    <li><strong>Copies Available: </strong>{{ listing.copies_available }}</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <a href="{% url 'listing' listing.id %}" class="btn action-button">
                                                View Item 
                                                <i class="fas fa-chevron-circle-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% empty %}
                            No listing found
                        {% endfor %}                       
                    </div>
                    <div class="col mt-4 text-center">
                        <a href="{% url 'listings_by_game' game.id %}" class="btn action-button">See more copies</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}