{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <h1 class="page-title-text">{{ game.name }}</h1>
        <div class="main-body-section">
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-4 game-image-container">
                    <img src="{{ MEDIA_URL }}images/game-images/{{ game.image_url }}" alt="{{ game.name }}">
                </div>
                <div class="col-12 d-sm-none dropdown" id="mobileDetailsDropdown">
                    <button class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" type="button"
                        id="mobileDetailsDropdownButton">
                        Game Details
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="mobileDetailsDropdownButton">
                        <li class="dropdown-item">
                            Released in :
                            {% if game.release_year %}
                                {{ game.release_year }}
                            {% else %}
                                Unknown
                            {% endif %}
                        </li>
                        <li class="dropdown-item">
                            Genre :
                            {% if game.genre %}
                            {{ game.genre }}
                            {% else %}
                            N/A
                            {% endif %}
                        </li>
                        <li class="dropdown-item">
                            Developed by :
                            {% if game.developer %}
                                {{ game.developer }}
                            {% else %}
                                N/A
                            {% endif %}
                        </li>
                        <li class="dropdown-item">
                            Multiplayer :
                            {% if game.multiplayer %}
                                Yes
                            {% else %}
                                No
                            {% endif %}
                        </li>
                        <li class="dropdown-item">
                            Average Price :
                            {% if game.price %}
                                {{ game.price }}
                            {% else %}
                                Unknown
                            {% endif %}
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6 col-lg-4 d-none d-sm-block" id="largerScreensDetailsContainer">
                    <h3 class="game-category-title">Game Details</h3>
                    <ul id="largerScreensDetailsList">
                        <li>
                            <strong>Released in :</strong>
                            {% if game.release_year %}
                                {{ game.release_year }}
                            {% else %}
                                Unknown
                            {% endif %}
                        </li>
                        <li>
                            <strong>Genre : </strong>
                            {% if game.genre %}
                                {{ game.genre }}
                            {% else %}
                                N/A
                            {% endif %}
                        </li>
                        <li>
                            <strong>Developed by : </strong>
                            {% if game.developer %}
                                {{ game.developer }}
                            {% else %}
                                N/A
                            {% endif %}
                        </li>
                        <li>
                            <strong>Multiplayer : </strong>
                            {% if game.multiplayer %}
                                Yes
                            {% else %}
                                No
                            {% endif %}
                        </li>
                        <li>
                            <strong>Average Price : </strong>
                            {% if game.price %}
                                {{ game.price }}
                            {% else %}
                                Unknown
                            {% endif %}
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-lg-4" id="gameDescriptionContainer">
                    <h3 class="game-category-title">Description</h3>
                    <p id="gameDescription">
                        {% if game.description %}
                            {{ game.description }}
                        {% else %}
                            We're sorry, there doesn't seem to be any description for {{ game.name }}
                            available at this time. If you have played this game, and feel like you
                            can offer an apt description, please
                            <a href="#">
                                get in touch with us here.
                            </a>
                        {% endif %}
                    </p>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12 col-sm-9 offset-sm-1 col-lg-6 offset-lg-0" id="commentsContainer">
                    <form action="" method="post">
                        <div class="row d-flex align-items-center">
                            <div class="col-3 p-0">
                                <img src="{{ MEDIA_URL }}images/user.png" id="userPlaceholderImage" alt="a user image">
                            </div>
                            <div class="col-9">
                                <textarea name="comment" id="commentBox" rows="3"
                                    placeholder="Tell us what you think!"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-12 col-lg-6" id="vendorsContainer">
                    <h3 class="text-center">Copies Available</h3>
                    <div class="row">
                        <div class="col-12 col-sm-5 offset-sm-1 vendor-card">
                            <img class="w-100" src="{{ MEDIA_URL }}images/sample-vendor-1.png" 
                                alt="an image of a vendor">
                            <ul class="vendor-details-list">
                                <li><strong>Seller </strong>Sample Vender 1</li>
                                <li><strong>Price </strong>29.95</li>
                                <li><strong>Condition </strong>Mint</li>                                
                            </ul>
                        </div>
                        <div class="col-12 col-sm-5 ms-2 vendor-card">
                            <img class="w-100" src="{{ MEDIA_URL }}images/sample-vendor-2.png" 
                                alt="an image of a vendor">
                                <ul class="vendor-details-list">
                                    <li><strong>Seller </strong>Sample Vendor 2</li>
                                    <li><strong>Price </strong>24.95</li>
                                    <li><strong>Condition </strong>Good</li>  
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}