{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/publishers/sony.css' %}">
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-10 offset-1 title-image-container">
                <img src="{{ MEDIA_URL }}images/publisher-images/dev-titles/sony-dev-title.png" alt="the sony logo" class="dev-page-title-image">
            </div>            
        </div>

        <div class="container-fluid">
            <div class="filter-container main-body-section">
                <form action="{% url 'publisher_games' 'Sony' %}" method="GET" name="filter">
                    <div class="row">                    
                        <div class="selector-container col-5">
                            <select name="genre" id="genreSelect">
                                <option selected value="any">Genre...</option>
                                {% for genre in genres %}
                                <option value="{{ genre }}">{{ genre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="selector-container col-5">
                            <select name="sort" id="sortSelect">
                                <option selected value="default">Sort by...</option>                           
                                <option value="name-asc">Name (A-Z)</option>
                                <option value="name-dsc">Name (Z-A)</option>
                                <option value="release_year-asc">Released (low to high)</option>
                                <option value="release_year-dsc">Released (high to low)</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6 mx-auto text-center">
                            <button class="btn" type="submit" id="filterButton">
                                Filter Games
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        
        
        <div class="row main-body-section">
            {% for game in games %}
                <div class="col-10 offset-1 col-sm-5 offset-sm-0 col-lg-5 offset-lg-1 col-xl-3 offset-xl-0 card my-4 game-card">
                    <a class="game-card-link" href="{% url 'game_details' game.id %}">
                        <div class="card-body text-center">
                            <h4 class="card-title text-center pb-3">{{ game.name|truncatechars:20 }}</h4>
                            <p class="mb-2">
                                {{ game.console }}
                            </p>
                            {% if game.image %}
                                <img class="w-100 px-1" src="{{ MEDIA_URL }}images/game-images/{{ game.image_url }}"
                                    alt="{{ game.name }}">
                            {% else %}
                                <img class="w-100 px-1" src="{{ MEDIA_URL }}images/no-image.png"
                                    alt="{{ game.name }}">
                            {% endif %}
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}