<div class="toast custom-toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="w-100 toast-capper bg-success"></div>
    <div class="toast-header">
        <strong class="me-auto">Success!</strong>
        <small>11 mins ago</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
        <div class="row">
            <div class="col">
                {{ message }}
                <hr class="mt-1 mb-3">
            </div>
        </div>
        {% if grand_total %}
            <p class="py-1">
                Your cart ({{ product_count }})
            </p>
            {% for item in cart_items %}
                <div class="row">
                    <div class="col-3 my-1">
                        <img src="{{ MEDIA_URL }}images/game-images/{{ item.game.image_url }}" 
                            alt="{{ item.game.name }}" class="w-100">
                    </div>
                    <div class="col-9">
                        <p class="my-0"><strong>{{ item.game.name }}</strong></p>
                        <p class="my-0 small text-muted">Quantity {{ item.quantity }} </p>
                    </div>
                </div>
            {% endfor %}
        {% endif %}        
    </div>
</div>